.row{
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
}

.row{   
    background-color:skyblue;
    color:white;
    font-size:20px;
}

.footer{
    height:100px;
}

.init{
    font-size:30px;
}


.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;     
}


#overview{
    width:1000px;
    height:500px;
}

p{
    font-family: 'Titillium Web', sans-serif;
}

a{
    padding-top: 25px;
    color:white;
    text-decoration: none;
}

h2{
    font-family: 'Merriweather Sans', sans-serif;
}

/* style for about me */

#new{
    display:flex;
    background-color:skyblue;
}

.column{
    width:20%;
    height:600px;
    margin-top:70;
    margin:40;
    padding-top:30;
    padding-left:30;
}

.i{
    font-size:30px;
}

#a{
    background-color:white;
    width:70%;
    padding-left:50px;
}

#sa{
    width:100%;
    height:100%;
}

/* style for contact */
.two{
    color:white;
}

